/* Estilo geral */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f4782; /* Tom mais claro para o fundo */
  padding-bottom: 60px;
  color: #333; /* Cor de texto padrão */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  position: relative;
}

/* Estilo do título */
.title {
  text-align: center;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 36px;
  margin: 0;
  color: #fff; /* Cor do texto do título */
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  background-color: #5c4bff; /* Cor de fundo do título */
  padding: 10px 20px; /* Espaçamento interno do título */
  border-radius: 8px; /* Borda arredondada */
}

.title i {
  font-style: italic;
  font-size: 24px;
}

/* Estilo do texto */
p {
  font-size: 18px;
  line-height: 1.5;
  background-color: #f9f9f9; /* Fundo do texto mais claro */
  text-align: justify;
  text-indent: 2em;
  padding: 20px; /* Espaçamento interno do parágrafo */
  border-radius: 8px; /* Borda arredondada */
  margin-bottom: 20px; /* Espaçamento inferior */
}

b {
  font-weight: bold;
}

.titulo {
  color: #fff;
}

label {
  font-size: 12px; /* Tamanho da fonte dos rótulos */
  font-family: 'Ysabeau SC', sans-serif;
}

/* Estilo dos controles */
.controles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 500px;
}

.verde label,
.vermelho label,
.amarelo label,
.azul label {
  font-size: 16px; /* Tamanho da fonte dos rótulos dos controles */
  margin-bottom: 8px; /* Espaçamento inferior dos rótulos */
  display: block;
}

.verde input[type="range"],
.vermelho input[type="range"],
.amarelo input[type="range"],
.azul input[type="range"] {
  display: block;
  width: 100%;
  height: 100%;
}

/* Estilo do botão */
.btn_box {
  display: block;
  margin: 0 auto 30px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #d32f2f; /* Cor de fundo do botão */
  color: #fff;
  border: 2px solid #b71c1c; /* Cor da borda do botão */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_box:hover {
  background-color: #fff;
  color: #120a8f; /* Mudança de cor ao passar o mouse */
}

/* Estilo da simulação */
.life_box {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.simulation {
  border: 20px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 20px;
  height: 500px;
  width: 800px;
}

.verde,
.vermelho,
.amarelo,
.azul {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.verde { background-color: #7aff7a; }
.vermelho { background-color: #ff7a7a; }
.amarelo { background-color: #fff878; width: 140px; padding-top: 16px; }
.azul { background-color: #add8e6; width: 133px; }

.valores {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 0.5rem;
}

button {
  position: absolute;
  padding-right: 100%;
  height: 40px;
}

.legenda-box {
  position: inherit;
  padding-right: 40px;
}

.legenda {
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

canvas {
  padding: 0;
  border: 0;
}

.box-controles {
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f1f1f1;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
  padding: 8px 15px;
  border-radius: 20px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

nav ul li a:hover {
  background-color: #ddd; /* Cor de fundo ao passar o mouse */
}

.img2 {
  height: 60px;
  margin-left: 20px;
}

.title h1 img {
  padding-bottom: 20px;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
  font-family: 'Ysabeau SC', sans-serif;
}
