/* Reset */
body,
html,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Você pode modificar a fonte conforme necessário */
}

/* Estilos do header e da navegação */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f1f1f1;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
  padding: 8px 15px;
  border-radius: 20px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

nav ul li a:hover {
  background-color: #ddd; /* Cor de fundo ao passar o mouse */
}

/* Estilos da seção do desenvolvedor */
.developer {
  text-align: center;
  margin-top: 50px;
}

.developer img {
  border-radius: 50%; /* Imagem redonda */
}

.developer-info {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #333; /* Cor do texto do link */
  transition: transform 0.3s ease; /* Efeito de transição suave */
}

.social-links a:hover {
  transform: scale(1.2); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

footer {
  text-align: center;
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  margin-top: 200px;
}

p {
  font-family: 'Arial', sans-serif; /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha para melhor legibilidade */
  margin-top: 20px; /* Espaçamento superior */
  padding: 0 20px; /* Espaçamento interno */
}

/* Estilos para a classe texto */
.texto {
  background-color: #f9f9f9; /* Cor de fundo da div */
  border-radius: 8px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
  margin: 20px; /* Espaçamento superior */
}

.texto p {
  font-family: 'Arial', sans-serif; /* Fonte do texto */
  font-size: 16px; /* Tamanho da fonte do parágrafo */
  margin-bottom: 15px; /* Espaçamento inferior do parágrafo */
}

.texto ul {
  list-style-type: none; /* Remover marcadores da lista */
  padding: 0;
}

.texto ul li {
  font-size: 16px; /* Tamanho da fonte da lista */
  margin-bottom: 8px; /* Espaçamento inferior entre os itens da lista */
  line-height: 1.4; /* Altura da linha para melhor legibilidade */
}

.texto ul li::before {
  content: '\2022'; /* Adiciona um ponto de bullet personalizado */
  color: #333; /* Cor do bullet */
  display: inline-block;
  width: 1em; /* Tamanho do bullet */
  margin-left: -1em; /* Alinha o bullet corretamente */
}
.title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
h2 {
  font-weight: bold;
  font-size: 20px;
 }
 .center {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.center .bold-text {
  font-weight: bold;
  font-size: 16px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
 }
